In [1]:
import pandas as pd

In [25]:
file_path = r'C:\Users\vjmar\Desktop\DataScience\blue-team-project-1\csv-data\industries.csv'

raw_industries_df = pd.read_csv(file_path)

state_industries = raw_industries_df[(raw_industries_df['OCC_TITLE'] == 'All Occupations') & (raw_industries_df['I_GROUP'] == 'sector')]

# Display the filtered DataFrame
state_industries.head()

C:\Users\vjmar\AppData\Local\Temp\ipykernel_34332\2953980609.py:3: DtypeWarning: Columns (2,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_industries_df = pd.read_csv(file_path)

,AREA,AREA_TITLE,NAICS,NAICS_TITLE,I_GROUP,OCC_CODE,OCC_TITLE,O_GROUP,TOT_EMP,EMP_PRSE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,1,Alabama,11,"Agriculture, Forestry, Fishing and Hunting",sector,00-0000,All Occupations,total,"5,800",0.1,...,19.75,24.30,32.61,"23,270","29,960","41,080","50,540","67,820",NaN,NaN
32,2,Alaska,11,"Agriculture, Forestry, Fishing and Hunting",sector,00-0000,All Occupations,total,210,1.0,...,27.53,35.84,41.84,"30,190","43,930","57,260","74,540","87,020",NaN,NaN
34,4,Arizona,11,"Agriculture, Forestry, Fishing and Hunting",sector,00-0000,All Occupations,total,"9,840",0.1,...,14.46,16.75,22.00,"27,590","28,770","30,080","34,840","45,760",NaN,NaN
71,5,Arkansas,11,"Agriculture, Forestry, Fishing and Hunting",sector,00-0000,All Occupations,total,"4,120",0.2,...,18.23,23.43,33.46,"25,480","28,780","37,920","48,730","69,600",NaN,NaN
94,6,California,11,"Agriculture, Forestry, Fishing and Hunting",sector,00-0000,All Occupations,total,"239,210",0.0,...,16.13,17.28,22.63,"30,860","31,460","33,540","35,950","47,070",NaN,NaN

In [26]:
columns_to_drop = ['AREA', 'NAICS', 'OCC_CODE', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY', 'EMP_PRSE', 'PCT_TOTAL', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25']
clean_state_industries = state_industries.drop(columns=columns_to_drop)

clean_state_industries.head()

,AREA_TITLE,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP
0,Alabama,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"5,800"
32,Alaska,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,210
34,Arizona,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"9,840"
71,Arkansas,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"4,120"
94,California,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"239,210"

In [27]:
highest_states = ['Louisiana', 'Mississippi', 'Oklahoma']

# Using isin directly without creating a list
highest_states_industries = clean_state_industries[clean_state_industries['AREA_TITLE'].isin(highest_states)]

# Display the filtered DataFrame
highest_states_industries

,AREA_TITLE,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP
493,Louisiana,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"3,310"
646,Mississippi,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"4,420"
887,Oklahoma,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"1,860"
4954,Louisiana,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"28,260"
5170,Mississippi,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"3,120"
5645,Oklahoma,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"28,450"
13401,Louisiana,Utilities,sector,All Occupations,total,"8,370"
13789,Mississippi,Utilities,sector,All Occupations,total,"7,790"
14459,Oklahoma,Utilities,sector,All Occupations,total,"9,650"
25259,Louisiana,Construction,sector,All Occupations,total,"130,650"
26151,Mississippi,Construction,sector,All Occupations,total,"45,890"
27699,Oklahoma,Construction,sector,All Occupations,total,"78,710"
97863,Louisiana,Manufacturing,sector,All Occupations,total,"131,650"
99400,Mississippi,Manufacturing,sector,All Occupations,total,"146,210"
102049,Oklahoma,Manufacturing,sector,All Occupations,total,"131,920"
204255,Louisiana,Wholesale Trade,sector,All Occupations,total,"66,520"
205198,Mississippi,Wholesale Trade,sector,All Occupations,total,"34,340"
206924,Oklahoma,Wholesale Trade,sector,All Occupations,total,"56,270"
269857,Louisiana,Retail Trade,sector,All Occupations,total,"222,900"
270846,Mississippi,Retail Trade,sector,All Occupations,total,"140,530"
272692,Oklahoma,Retail Trade,sector,All Occupations,total,"183,860"
325321,Louisiana,Transportation and Warehousing,sector,All Occupations,total,"87,680"
325888,Mississippi,Transportation and Warehousing,sector,All Occupations,total,"65,160"
326997,Oklahoma,Transportation and Warehousing,sector,All Occupations,total,"77,760"
340744,Louisiana,Information,sector,All Occupations,total,"22,670"
341403,Mississippi,Information,sector,All Occupations,total,"9,820"
342602,Oklahoma,Information,sector,All Occupations,total,"18,250"
370620,Louisiana,Finance and Insurance,sector,All Occupations,total,"54,310"
371304,Mississippi,Finance and Insurance,sector,All Occupations,total,"31,990"
372510,Oklahoma,Finance and Insurance,sector,All Occupations,total,"57,010"
406958,Louisiana,Real Estate and Rental and Leasing,sector,All Occupations,total,"29,580"
407526,Mississippi,Real Estate and Rental and Leasing,sector,All Occupations,total,"11,420"
408482,Oklahoma,Real Estate and Rental and Leasing,sector,All Occupations,total,"21,310"
425276,Louisiana,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"92,560"
426582,Mississippi,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"36,270"
428869,Oklahoma,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"73,430"
478481,Louisiana,Management of Companies and Enterprises,sector,All Occupations,total,"21,220"
479311,Mississippi,Management of Companies and Enterprises,sector,All Occupations,total,"12,390"
480774,Oklahoma,Management of Companies and Enterprises,sector,All Occupations,total,"28,050"
500023,Louisiana,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"104,850"
501249,Mississippi,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"72,170"
503538,Oklahoma,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"101,230"
553865,Louisiana,Educational Services,sector,All Occupations,total,"166,650"
555361,Mississippi,Educational Services,sector,All Occupations,total,"108,190"
557877,Oklahoma,Educational Services,sector,All Occupations,total,"147,870"
598690,Louisiana,Health Care and Social Assistance,sector,All Occupations,total,"292,920"
600271,Mississippi,Health Care and Social Assistance,sector,All Occupations,total,"158,260"
603091,Oklahoma,Health Care and Social Assistance,sector,All Occupations,total,"210,210"
692460,Louisiana,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"26,620"
693148,Mississippi,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"9,160"
694406,Oklahoma,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"36,320"
718286,Louisiana,Accommodation and Food Services,sector,All Occupations,total,"184,660"
718848,Mississippi,Accommodation and Food Services,sector,All Occupations,total,"123,630"
719934,Oklahoma,Accommodation and Food Services,sector,All Occupations,total,"153,330"
742571,Louisiana,Other Services (except Public Administration),sector,All Occupations,total,"43,360"
743630,Mississippi,Other Services (except Public Administration),sector,All Occupations,total,"20,500"
745425,Oklahoma,Other Services (except Public Administration),sector,All Occupations,total,"35,720"
786068,Louisiana,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"129,160"
787876,Mississippi,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"90,290"
791315,Oklahoma,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"153,610"

In [29]:
lowest_states = ['South Dakota', 'Minnesota', 'North Dakota']
lowest_states_industries = clean_state_industries[clean_state_industries['AREA_TITLE'].isin(lowest_states)]
lowest_states_industries

,AREA_TITLE,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP
613,Minnesota,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"3,450"
847,North Dakota,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,780
1023,South Dakota,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,720
5131,Minnesota,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"5,950"
5533,North Dakota,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"15,270"
5890,South Dakota,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"1,050"
13698,Minnesota,Utilities,sector,All Occupations,total,"12,170"
14329,North Dakota,Utilities,sector,All Occupations,total,"3,210"
14742,South Dakota,Utilities,sector,All Occupations,total,"1,990"
26002,Minnesota,Construction,sector,All Occupations,total,"136,780"
27447,North Dakota,Construction,sector,All Occupations,total,"25,470"
28354,South Dakota,Construction,sector,All Occupations,total,"26,390"
99119,Minnesota,Manufacturing,sector,All Occupations,total,"320,800"
101611,North Dakota,Manufacturing,sector,All Occupations,total,"27,130"
103264,South Dakota,Manufacturing,sector,All Occupations,total,"44,620"
205023,Minnesota,Wholesale Trade,sector,All Occupations,total,"130,490"
206615,North Dakota,Wholesale Trade,sector,All Occupations,total,"22,970"
207656,South Dakota,Wholesale Trade,sector,All Occupations,total,"22,050"
270666,Minnesota,Retail Trade,sector,All Occupations,total,"282,730"
272378,North Dakota,Retail Trade,sector,All Occupations,total,"45,310"
273451,South Dakota,Retail Trade,sector,All Occupations,total,"52,330"
325787,Minnesota,Transportation and Warehousing,sector,All Occupations,total,"111,480"
326804,North Dakota,Transportation and Warehousing,sector,All Occupations,total,"19,630"
327472,South Dakota,Transportation and Warehousing,sector,All Occupations,total,"14,060"
341282,Minnesota,Information,sector,All Occupations,total,"44,890"
342411,North Dakota,Information,sector,All Occupations,total,"5,810"
343104,South Dakota,Information,sector,All Occupations,total,"5,230"
371176,Minnesota,Finance and Insurance,sector,All Occupations,total,"137,790"
372310,North Dakota,Finance and Insurance,sector,All Occupations,total,"17,000"
373042,South Dakota,Finance and Insurance,sector,All Occupations,total,"23,190"
407440,Minnesota,Real Estate and Rental and Leasing,sector,All Occupations,total,"35,160"
408328,North Dakota,Real Estate and Rental and Leasing,sector,All Occupations,total,"5,080"
408869,South Dakota,Real Estate and Rental and Leasing,sector,All Occupations,total,"4,240"
426369,Minnesota,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"167,000"
428499,North Dakota,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"16,650"
429838,South Dakota,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"17,270"
479129,Minnesota,Management of Companies and Enterprises,sector,All Occupations,total,"91,730"
480513,North Dakota,Management of Companies and Enterprises,sector,All Occupations,total,"4,200"
481520,South Dakota,Management of Companies and Enterprises,sector,All Occupations,total,"5,350"
501045,Minnesota,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"133,900"
503219,North Dakota,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"12,730"
504579,South Dakota,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"14,420"
555117,Minnesota,Educational Services,sector,All Occupations,total,"233,940"
557480,North Dakota,Educational Services,sector,All Occupations,total,"37,640"
558988,South Dakota,Educational Services,sector,All Occupations,total,"37,170"
599993,Minnesota,Health Care and Social Assistance,sector,All Occupations,total,"482,370"
602639,North Dakota,Health Care and Social Assistance,sector,All Occupations,total,"62,120"
604307,South Dakota,Health Care and Social Assistance,sector,All Occupations,total,"68,320"
693026,Minnesota,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"44,990"
694204,North Dakota,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"7,160"
694935,South Dakota,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"8,030"
718756,Minnesota,Accommodation and Food Services,sector,All Occupations,total,"209,860"
719807,North Dakota,Accommodation and Food Services,sector,All Occupations,total,"32,790"
720325,South Dakota,Accommodation and Food Services,sector,All Occupations,total,"40,630"
743448,Minnesota,Other Services (except Public Administration),sector,All Occupations,total,"80,390"
745123,North Dakota,Other Services (except Public Administration),sector,All Occupations,total,"10,570"
746234,South Dakota,Other Services (except Public Administration),sector,All Occupations,total,"11,740"
787574,Minnesota,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"161,440"
790750,North Dakota,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"34,000"
792790,South Dakota,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"36,470"