In [1]:
import pandas as pd

In [2]:
file_path = r'C:\Users\vjmar\Desktop\DataScience\blue-team-project-1\csv-data\industries.csv'

raw_industries_df = pd.read_csv(file_path)

state_industries = raw_industries_df[(raw_industries_df['OCC_TITLE'] == 'All Occupations') & (raw_industries_df['I_GROUP'] == 'sector')]

# Display the filtered DataFrame
state_industries.head()

,AREA,AREA_TITLE,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP
0,1.0,Alabama,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"5,800"
32,2.0,Alaska,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,210
34,4.0,Arizona,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"9,840"
71,5.0,Arkansas,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"4,120"
94,6.0,California,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"239,210"

In [26]:
columns_to_drop = ['AREA', 'NAICS', 'OCC_CODE', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY', 'EMP_PRSE', 'PCT_TOTAL', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25']
clean_state_industries = state_industries.drop(columns=columns_to_drop)

clean_state_industries.head()

,AREA_TITLE,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP
0,Alabama,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"5,800"
32,Alaska,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,210
34,Arizona,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"9,840"
71,Arkansas,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"4,120"
94,California,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"239,210"

In [27]:
highest_states = ['Louisiana', 'Mississippi', 'Oklahoma']

# Using isin directly without creating a list
highest_states_industries = clean_state_industries[clean_state_industries['AREA_TITLE'].isin(highest_states)]

# Display the filtered DataFrame
highest_states_industries

,AREA_TITLE,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP
493,Louisiana,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"3,310"
646,Mississippi,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"4,420"
887,Oklahoma,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,"1,860"
4954,Louisiana,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"28,260"
5170,Mississippi,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"3,120"
5645,Oklahoma,"Mining, Quarrying, and Oil and Gas Extraction",sector,All Occupations,total,"28,450"
13401,Louisiana,Utilities,sector,All Occupations,total,"8,370"
13789,Mississippi,Utilities,sector,All Occupations,total,"7,790"
14459,Oklahoma,Utilities,sector,All Occupations,total,"9,650"
25259,Louisiana,Construction,sector,All Occupations,total,"130,650"
26151,Mississippi,Construction,sector,All Occupations,total,"45,890"
27699,Oklahoma,Construction,sector,All Occupations,total,"78,710"
97863,Louisiana,Manufacturing,sector,All Occupations,total,"131,650"
99400,Mississippi,Manufacturing,sector,All Occupations,total,"146,210"
102049,Oklahoma,Manufacturing,sector,All Occupations,total,"131,920"
204255,Louisiana,Wholesale Trade,sector,All Occupations,total,"66,520"
205198,Mississippi,Wholesale Trade,sector,All Occupations,total,"34,340"
206924,Oklahoma,Wholesale Trade,sector,All Occupations,total,"56,270"
269857,Louisiana,Retail Trade,sector,All Occupations,total,"222,900"
270846,Mississippi,Retail Trade,sector,All Occupations,total,"140,530"
272692,Oklahoma,Retail Trade,sector,All Occupations,total,"183,860"
325321,Louisiana,Transportation and Warehousing,sector,All Occupations,total,"87,680"
325888,Mississippi,Transportation and Warehousing,sector,All Occupations,total,"65,160"
326997,Oklahoma,Transportation and Warehousing,sector,All Occupations,total,"77,760"
340744,Louisiana,Information,sector,All Occupations,total,"22,670"
341403,Mississippi,Information,sector,All Occupations,total,"9,820"
342602,Oklahoma,Information,sector,All Occupations,total,"18,250"
370620,Louisiana,Finance and Insurance,sector,All Occupations,total,"54,310"
371304,Mississippi,Finance and Insurance,sector,All Occupations,total,"31,990"
372510,Oklahoma,Finance and Insurance,sector,All Occupations,total,"57,010"
406958,Louisiana,Real Estate and Rental and Leasing,sector,All Occupations,total,"29,580"
407526,Mississippi,Real Estate and Rental and Leasing,sector,All Occupations,total,"11,420"
408482,Oklahoma,Real Estate and Rental and Leasing,sector,All Occupations,total,"21,310"
425276,Louisiana,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"92,560"
426582,Mississippi,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"36,270"
428869,Oklahoma,"Professional, Scientific, and Technical Services",sector,All Occupations,total,"73,430"
478481,Louisiana,Management of Companies and Enterprises,sector,All Occupations,total,"21,220"
479311,Mississippi,Management of Companies and Enterprises,sector,All Occupations,total,"12,390"
480774,Oklahoma,Management of Companies and Enterprises,sector,All Occupations,total,"28,050"
500023,Louisiana,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"104,850"
501249,Mississippi,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"72,170"
503538,Oklahoma,Administrative and Support and Waste Managemen...,sector,All Occupations,total,"101,230"
553865,Louisiana,Educational Services,sector,All Occupations,total,"166,650"
555361,Mississippi,Educational Services,sector,All Occupations,total,"108,190"
557877,Oklahoma,Educational Services,sector,All Occupations,total,"147,870"
598690,Louisiana,Health Care and Social Assistance,sector,All Occupations,total,"292,920"
600271,Mississippi,Health Care and Social Assistance,sector,All Occupations,total,"158,260"
603091,Oklahoma,Health Care and Social Assistance,sector,All Occupations,total,"210,210"
692460,Louisiana,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"26,620"
693148,Mississippi,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"9,160"
694406,Oklahoma,"Arts, Entertainment, and Recreation",sector,All Occupations,total,"36,320"
718286,Louisiana,Accommodation and Food Services,sector,All Occupations,total,"184,660"
718848,Mississippi,Accommodation and Food Services,sector,All Occupations,total,"123,630"
719934,Oklahoma,Accommodation and Food Services,sector,All Occupations,total,"153,330"
742571,Louisiana,Other Services (except Public Administration),sector,All Occupations,total,"43,360"
743630,Mississippi,Other Services (except Public Administration),sector,All Occupations,total,"20,500"
745425,Oklahoma,Other Services (except Public Administration),sector,All Occupations,total,"35,720"
786068,Louisiana,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"129,160"
787876,Mississippi,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"90,290"
791315,Oklahoma,"Federal, State, and Local Government, excludin...",sector,All Occupations,total,"153,610"

In [3]:
group1_states = ['South Dakota', 'Minnesota', 'North Dakota']
lowest_states_industries = state_industries[state_industries['AREA_TITLE'].isin(group1_states)]
group1_states_industries

NameError: name 'group1_states_industries' is not defined