In [1]:
import pandas as pd

In [2]:
# Specify the file path
#file_path = r'C:\Users\samka\upenn\Project 1\Katie_csv\ACSDT1Y2022.B06009-2024-02-13T015552.csv'

# Read the CSV file into a pandas DataFrame
#df = pd.read_csv(file_path)

#df

In [3]:
# Specify the file path
file_path = r'C:\Users\samka\upenn\Project 1\Katie_csv\ACSDT1Y2022.B06009-2024-02-13T015552.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)
desired_columns = [col for col in df.columns if any(state in col for state in ['Label (Grouping)', 'South Dakota!!Estimate', 'Minnesota!!Estimate', 'North Dakota!!Estimate', 'Louisiana!!Estimate', 'Mississippi!!Estimate', 'Oklahoma!!Estimate'])]
print(desired_columns)

['Label (Grouping)', 'Louisiana!!Estimate', 'Minnesota!!Estimate', 'Mississippi!!Estimate', 'North Dakota!!Estimate', 'Oklahoma!!Estimate', 'South Dakota!!Estimate']

In [4]:
#state_columns = [col for col in df.columns if '|Estimate' in col]
state_df = df[desired_columns]
desired_rows_df = state_df.iloc[:6]
print(desired_rows_df)

                                  Label (Grouping) Louisiana!!Estimate  \
0                                           Total:           3,096,121
1                   Less than high school graduate             393,283
2      High school graduate (includes equivalency)           1,006,184
3               Some college or associate's degree             856,548
4                                Bachelor's degree             525,044
5                  Graduate or professional degree             315,062

  Minnesota!!Estimate Mississippi!!Estimate North Dakota!!Estimate  \
0           3,918,565             1,963,322                514,786
1             233,881               243,526                 31,578
2             917,132               604,163                131,842
3           1,233,841               629,447                187,525
4             995,083               297,480                115,034
5             538,628               188,706                 48,807

  Oklahoma!!Estimate South Dakota!!Estimate
0          2,661,141                605,735
1            277,868                 41,373
2            813,545                177,171
3            810,811                195,874
4            495,467                131,481
5            263,450                 59,836

In [10]:
# Define the column mapping for renaming
column_mapping = {
    'Label (Grouping)': 'Label',
    'Louisiana!!Estimate': 'Louisiana',
    'Minnesota!!Estimate': 'Minnesota',
    'Mississippi!!Estimate': 'Mississippi',
    'North Dakota!!Estimate': 'North Dakota',
    'Oklahoma!!Estimate': 'Oklahoma',
    'South Dakota!!Estimate': 'South Dakota'
}

# Select the desired columns from the DataFrame and rename them
desired_rows_df = df[['Label (Grouping)', 'Louisiana!!Estimate', 'Minnesota!!Estimate', 'Mississippi!!Estimate', 'North Dakota!!Estimate', 'Oklahoma!!Estimate', 'South Dakota!!Estimate']].copy()
desired_rows_df.columns = [column_mapping.get(col, col) for col in desired_rows_df.columns]

# Take the first 6 rows
desired_rows_df = desired_rows_df.iloc[:6]

# Print the resulting DataFrame
print(desired_rows_df)

                                             Label  Louisiana  Minnesota  \
0                                           Total:  3,096,121  3,918,565
1                   Less than high school graduate    393,283    233,881
2      High school graduate (includes equivalency)  1,006,184    917,132
3               Some college or associate's degree    856,548  1,233,841
4                                Bachelor's degree    525,044    995,083
5                  Graduate or professional degree    315,062    538,628

  Mississippi North Dakota   Oklahoma South Dakota
0   1,963,322      514,786  2,661,141      605,735
1     243,526       31,578    277,868       41,373
2     604,163      131,842    813,545      177,171
3     629,447      187,525    810,811      195,874
4     297,480      115,034    495,467      131,481
5     188,706       48,807    263,450       59,836

In [16]:
# Print the DataFrame to a file
desired_rows_df.to_csv('desired_rows.csv', index=False)

# Or print the DataFrame to string with specified line width
print(desired_rows_df.to_string(index=False, line_width=2000))

                                          Label Louisiana Minnesota Mississippi North Dakota  Oklahoma South Dakota
                                         Total: 3,096,121 3,918,565   1,963,322      514,786 2,661,141      605,735
                 Less than high school graduate   393,283   233,881     243,526       31,578   277,868       41,373
    High school graduate (includes equivalency) 1,006,184   917,132     604,163      131,842   813,545      177,171
             Some college or associate's degree   856,548 1,233,841     629,447      187,525   810,811      195,874
                              Bachelor's degree   525,044   995,083     297,480      115,034   495,467      131,481
                Graduate or professional degree   315,062   538,628     188,706       48,807   263,450       59,836